@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body .video {
   display: flex;
   flex-direction: column;
  justify-content: left;
  align-items: center;
  padding-left: 200px;
 
  color: aliceblue;
}

body .video img {display: flex;
  flex-direction: row;
  height: 500px;
  width: 850px;

}
#coluna{
display: flex;
flex-direction: column-reverse;

}

#blocos{
 
padding-left: 300px;
display: flex;
flex-direction: row;
width: 1080px;
height: 1080px;
}

#id_dodiv{
  margin-left: 300px;
  color: white;
  height: 100px;
  width: 900px;
  
  
}

#blocoI{
display: flex;
padding-right: 100px;}
#blocoII{
display: flex;
padding-right: 100px;}





.janela {
  display: flex;
 padding-left: 100px;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #FF2C2C;
  background-color: #000;
}

.header-left h1 {
  color: #FF2C2C;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav, .btn-nav-white {
  width: 40%;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  cursor: pointer;
}

.btn-nav {
  color: white;
  background-color: #FF2C2C;
}

.btn-nav-white {
  background-color: white;
  border: 3px solid #FF2C2C;
}

.btn-nav-white h3 {
  color: #FF2C2C;
  margin: 0;
  padding: 0;
}

.btn-nav h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  width: 20%;
  background-color: #FF2C2C;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 100px;
}

.dash {
  width: 80%;
  position: relative;
  left: 20%;
  background-color: #000;
  height: 100vh;
  overflow: auto;
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btns-dash {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30%;
}


#graficos  {
  display: flex;
  justify-content: flex-start;
  padding-left: 400px;
  
}
#graficos h1 {
  color: aliceblue;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
}

#grafico1{
width: 400px;
height: 500px;

}
#grafico2{
height: 500px;
width: 800px;
}



canvas {
  width: 350px !important;
  height: 70% !important;
  background-color: black;
  display: block;
  margin: 0;
}
#KPIS{
  display: flex;
  color: white;
}

#KPI1{
width: 150px;
height: 120px;
background-color: black;  
border-radius:10px;
font-size: small;

border: 3px solid #FF2C2C ;


}
#KPI2{
width: 150px;
height: 120px;
background-color: black; 
 border-radius:10px;

border: 3px solid #FF2C2C ;
}#KPI3{
width: 150px;
height: 120px;
background-color: black; 
 border-radius:10px;
 font-size: small;

border: 3px solid #FF2C2C ;
}#KPI4{
width: 150px;
height: 120px;
background-color: black; 
 border-radius:10px;
 font-size: small;
 border: 3px solid #FF2C2C ;

}#KPI5{
width: 150px;
height: 120px;
background-color: black;
  border-radius:10px;
  font-size: small;

border: 3px solid #FF2C2C ;
}
